/*
.project
.classpath
build/
.gradle/
.idea/
.DS_Store
.nb-gradle
*.iml
*.log
*.log.gz
classes/
webapps/
out/
temp/

!doc/
!common/
!baas-gateway/
!baas-service/
!contract/
!gradle/
!dna2-explorer

!src/
!lib/
!libs/
!.gitignore
!build.gradle
!settings.gradle
!gradle.properties
!WebContent/
!web/
!file/*

